build

tags

# Python
*.pyc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*tar
*gz
*zip
*bz2
*pdf

*~
*swp

# OS X
.DS_Store

Doxyfile.Orchestra
sampleData/notebooks/.ipynb_checkpoints/

# Test/prototyping data NOT to be shipped with example raw files.
prototypingData*/

orchestra-sdk-*
