build

tags

# Python
*.pyc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*tar
*gz
*zip
*bz2
*pdf

*~
*swp

# OS X
.DS_Store

